* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	text-decoration: none;
	overflow-x: hidden;
}

body {
	background-color: #fcf8e8;
}

h1 {
	font-size: 4em;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}

h2 {
	font-size: 1.4em;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #df7861;
}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #ecb390;
}

a:hover {
	color: #df7861;
}

h3 {
	font-size: 1.8em;
	padding-bottom: 0.5vh;
	padding-top: 10vh;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #ecb390;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

form {
	transform: translateY(-17.5vh);
}

.contenu {
	padding-top: 5vh;

	position: relative;
	z-index: 10;
}

.section {
	padding-top: 3.5vh;
	width: 100vw;
	box-sizing: border-box;

	position: relative;
	z-index: 10;
}

.onglet {
	width: 19.5vw;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;

	position: relative;
	z-index: 10;
}

.description {
	width: 50vw;
	padding-left: 25vw;

	position: relative;
	z-index: 10;
}

.container {
	width: 50vw;
	height: 50vh;
	padding-left: 35vw;	
	padding-top: 25vh;

	position: relative;
	z-index: 10;
}

.lien {
	width: 100%;
	text-align: center;
}

.pseudo, .mdp, .entree {
	width: 50vw;
	padding-top: 5vh;

	position: relative;
	z-index: 10;
}

.descproj {
	padding-bottom: 10vh;
}

/*animation des points gris début*/

@-webkit-keyframes moveptvertun {
    0% {transform: translate(0px, 0px);}
    10% {transform: translate(-5px, 2px);}
    20% {transform: translate(-5px, -2px);}
    30% {transform: translate(-5px, -2px);}
    40% {transform: translate(-5px, 5px);}
    50% {transform: translate(2px, 5px);}
	55% {transform: translate(5px, 5px);}
	60% {transform: translate(7px, -3px);}
	70% {transform: translate(7px, -2px);}
	80% {transform: translate(5px, -5px);}
	90% {transform: translate(-2px, -5px);}
	95% {transform: translate(-5px, -2px);}
	100% {transform: translate(0px, 0px);}
}

@keyframes moveptvertun {
    0% {transform: translate(0px, 0px);}
    10% {transform: translate(-5px, 2px);}
    20% {transform: translate(-5px, -2px);}
    30% {transform: translate(-5px, -2px);}
    40% {transform: translate(-5px, 5px);}
    50% {transform: translate(2px, 5px);}
	55% {transform: translate(5px, 5px);}
	60% {transform: translate(7px, -3px);}
	70% {transform: translate(7px, -2px);}
	80% {transform: translate(5px, -5px);}
	90% {transform: translate(-2px, -5px);}
	95% {transform: translate(-5px, -2px);}
	100% {transform: translate(0px,rot);}
}

.ptgris{
	background: #df7861;
	border-radius:50%;
	width:10px;
	height:10px;
	border: none;
	position: fixed;
	z-index: 2;
}

#ptvun {
	top: 5vh;
	left: 22vw;
	-webkit-animation: moveptvertun 6.30s 0.10s ease-in infinite alternate;
	animation: moveptvertun 6.30s 0.10s ease-in infinite alternate;
}

#ptvdeux {
	top: 21vh;
	left: 14vw;
	-webkit-animation: moveptvertun 6.15s ease infinite alternate;
	animation: moveptvertun 6.15s ease infinite alternate;
}

#ptvtrois {
	bottom: 5vh;
	left: 19vw;
	-webkit-animation: moveptvertun 6.45s 0.25s linear infinite alternate;
	animation: moveptvertun 6.45s 0.25s linear infinite alternate;
}

#ptvcinq {
	bottom: 17vh;
	left: 76vw;
	-webkit-animation: moveptvertun 6.30s 0.12s ease-out infinite alternate;
	animation: moveptvertun 6.30s 0.12s ease-out infinite alternate;
}

#ptvsix {
	top: 7vh;
	left: 96vw;
	-webkit-animation: moveptvertun 5.45s 0.27s ease-in infinite alternate;
	animation: moveptvertun 5.45s 0.27s ease-in infinite alternate;
}

#ptvsept {
	top: 62vh;
	left: 91vw;
	-webkit-animation: moveptvertun 5.30s 0.02s ease infinite alternate;
	animation: moveptvertun 5.30s 0.02s ease infinite alternate;
}

#ptvhuit {
	top: 23vh;
	left: 78vw;
	-webkit-animation: moveptvertun 5.15s 0.37s linear infinite alternate;
	animation: moveptvertun 5.15s 0.37s linear infinite alternate;
}